@import url("https://use.typekit.net/qet5luu.css");

* {
  margin: 0;
  padding: 0;
  font-family: articulat-cf, sans-serif;
  font-style: normal;
}

/* Desktop CSS */

.Desktop-Wrapper {
  position: relative;
  z-index: 1;
}

.background {
  position: fixed;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  transform: scale(1.1);
  filter: contrast(170%) brightness(100%) blur(20px);
  background: 
	linear-gradient(199deg, rgba(238,119,82,1), rgba(0,0,0,0)),
	linear-gradient(272deg, rgba(231,60,126,1), rgba(255,0,0,0)),
	linear-gradient(84deg, rgba(35,166,213,1), rgba(0,255,0,0)),
	linear-gradient(180deg, rgba(35,213,171,1), rgba(255,255,0,0)),
	url(https://grainy-gradients.vercel.app/noise.svg);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Header {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5em;
  margin-right: 5em;
  border-bottom: 1px solid #1E1F1E;
}

.logos {
  width: 20em;
  transition: transform .3s ease-in-out;
  position: relative;
  z-index: 99;
}

.logo1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.logo2 {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 100%;
  height: 100%;
  z-index: 98;
  opacity: 0;
}

.logo3 {
  position: absolute;
  top: 0.4em;
  left: 0.4em;
  width: 100%;
  height: 100%;
  z-index: 97;
  opacity: 0;
}

.logo4 {
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  width: 100%;
  height: 100%;
  z-index: 96;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.logos:hover {
  transform: scale(1.1);
}

.logos:hover > .logo2 {
  animation: fadeIn 0.3s ease-in-out 0.3s forwards;
}

.logos:hover > .logo3 {
  animation: fadeIn 0.5s ease-in-out 0.4s forwards;
}

.logos:hover > .logo4 {
  animation: fadeIn 0.7s ease-in-out 0.5s forwards;
}

.logos:not(:hover) > .logo2 {
  animation: fadeOut 0.9s ease-in-out forwards;
}

.logos:not(:hover) > .logo3 {
  animation: fadeOut 0.7s ease-in-out forwards;
}

.logos:not(:hover) > .logo4 {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.Header-Items {
  font-size: clamp(2em, 4vw, 2em);
  font-weight: 600;
}

.Header-Item {
  padding: 0.5em;
  text-decoration: none;
  color: #F5F6F4;
  box-shadow: inset 0 0 0 0 #1E1F1E;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.Header-Item:hover {
  box-shadow: inset 0 0 5em 0 #1E1F1E;
  color: #F5F6F4;
}

.Header-Item.active {
  color: #F5F6F4;
  border-bottom: 2px solid #F5F6F4;
}

.Desktop-Wrapper {
  margin-left: 6em;
  margin-right: 6em;
}

.Home-Text-1 {
  position: relative;
  z-index: 1;
  top: 5em;
  font-size: clamp(3em, 6vw, 3em);
  text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
  color: #F5F6F4;
}

.Home-Text-2 {
  position: relative;
  z-index: 1;
  top: 8em;
  font-size: clamp(2em, 4vw, 2em);
  text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
  color: #F5F6F4;
}

@keyframes scroller {
  0%, 10% {
    opacity: 0;
    border-width: 0em;
  }
  15%, 45% {
    content: 'Data Analyst';
    opacity: 1;
    border-width: 0.2em;
  }
  50%, 55% {
    opacity: 0;
    border-width: 0em;
  }
  60%, 80% {
    content: 'Front-End Developer';
    opacity: 1;
    border-width: 0.2em;
  }
  85%, 100% {
    opacity: 0;
    border-width: 0em;
  }
}

.scroller::before {
  content: "";
  animation: scroller 10s ease infinite;
  border-bottom: 2px solid #F5F6F4;
}

.Page-Title {
  font-size: clamp(3em, 6vw, 3em);
  font-weight: 600;
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #F5F6F4;
  text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
}

.Page-Para {
  font-size: clamp(1.5em, 3vw, 1.5em);
  margin-bottom: 1em;
  color: #F5F6F4;
  text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.5);
}

.contact-link {
  display: block;
  font-size: clamp(1.5em, 3vw, 1.5em);
  text-decoration: none;
  color: #F5F6F4;
  box-shadow: inset 0 0 0 0 #1E1F1E;
  padding: 0.2em;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.contact-link:hover {
  box-shadow: inset 11em 0 0 0 #1E1F1E;
  color: #F5F6F4;
  width: auto;
}

.work {
  height: auto;
}

.work-content {
  position: relative;
  z-index: 0;
  margin: 1em;
  height: 10em;
  border-radius: 1em;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  padding: 1em;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.work-link {
  text-decoration: none;
}

.work-title {
  position: relative;
  z-index: 99;
  font-size: clamp(1.5em, 3vw, 1.5em);
  font-weight: 600;
  color: #1E1F1E;
  box-shadow: inset 0 0 0 0 #1E1F1E;
  transition: all .3s ease-in-out;
}

.work-descrip {
  position: relative;
  z-index: 99;
  font-size: clamp(1em, 2vw, 1em);
  color: #1E1F1E;
  transition: all .3s ease-in-out;
}

.work-img {
  /* background-color: #F5F6F4; */
  background-image: url('https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80');
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 5s ease-in-out;
}

.work-content:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

.work-content:hover > .work-title {
  box-shadow: inset 5em 0 0 0 #1E1F1E;
  color: #F5F6F4;
  padding: 0.2em;
}

.work-content:hover > .work-descrip {
  color: #F5F6F4;
  padding: 0.2em;
}

.work-content:hover > .work-img {
  transform: scale(1.5);
}

.Menu-Button {
  display: none;
}

/* Mobile CSS */

@media only screen and (max-width: 768px) {
  .Header {
    display: none;
  }

  .Desktop-Wrapper {
    margin-left: 1em;
    margin-right: 1em;
  }

  .Menu-Button {
    display: flex;
    justify-content: space-around;
    margin: 50em auto;
    position: relative;
    z-index: 99;
    height: 8em;
    width: 8em;
    border-radius: 25em;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .Home-Text-1 {
    position: fixed;
    top: 5em;
  }

  .Home-Text-2 {
    position: fixed;
    top: 15em;
    font-size: clamp(1.5rem, 2vw, 1.5rem);
  }
}